*~
*.o
*.a
*.exe
*.elf
*.asc
*.bin
*.bit
*.json
*.svf
*.timings
*_out.config
*.000
*.hex
*.vvp
*.dfu
*.rpt
*.blif
*.list
FemtoRV/FIRMWARE/firmware.txt
FemtoRV/FIRMWARE/TOOLCHAIN/
FemtoRV/FIRMWARE/TOOLS/firmware_words
FemtoRV/RTL/CONFIGS/my_config.v
FemtoRV/femtosoc.txt
FemtoRV/FIRMWARE/config.mk
FemtoRV/TOOLS/environment.yml
FemtoRV/TOOLS/requirements.txt
FemtoRV/Frontend/build/
FemtoRV/Frontend/riscv-tests/base_testbench/a.out
FemtoRV/Frontend/riscv-tests/base_testbench/output_test
FemtoRV/Frontend/riscv-tests/base_testbench/output_vvp
FemtoRV/Frontend/riscv-tests/base_testbench/testbench.v
https://github.com/FelipeFFerreira/ITA-CORES.git


