set_io clk D1

set_io TXD B3
set_io RXD A3

set_io D1 B6
set_io D2 B5
set_io D3 B4
set_io D4 E2
set_io D5 E6

set_io spi_cs_n D5
set_io spi_miso F5
set_io spi_mosi E4
set_io spi_clk  E5

set_io RESET    C5
